In [30]:
tup1=('data',2,4,6,[9,6],(5,3),True,False)
type(tup1)

tuple

In [15]:
tup1[0]
tup1[-2]
tup1[:3]
tup1[2:]
tup1[2:8]
tup1[4][1]
tup1(1,7,-1)

TypeError: 'tuple' object is not callable

In [17]:
tup=(2)
type(tup)

int

In [18]:
tup=(2,)
type(tup)

tuple

In [ ]:
tup2=(2,4,6,8,9)
tup2.count(4)
del tup2 
#tuple has no attribute pop,clear,add,extend,reverse etc. at first, tuple is converted into list.
#than use all this function and change in tuple again.
tup2=(1,2,3,5,6)
list1=list(tup2)
list1
type(list1)
list1.pop()
list1.pop(2)
list1

[1, 2, 5]

In [ ]:
list1.append(10)
list1

[1, 2, 5, 10, 10, 10]

In [ ]:
tup2=tuple(list1)
tup2

(1, 2, 5, 10)

In [8]:
for i in tup2:
    print(i)

1
2
5
10

In [10]:
tup1=('data',2,4,6,[9,6],(5,3),True,False)
for i in tup1:
    print(i)

data
2
4
6
[9, 6]
(5, 3)
True
False